 /* ------------------------------Allgemeine Control Anweisungen-------------------------------------------- */
 body {
   font-family: Verdana, sans-serif;
   background-color: #7ab98995;
 }

 * {
   box-sizing: border-box;
 }

 input {
   border-radius: 25px;
   padding: 15px;
   width: 70%;
 }


 header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #1C5E39;
   ;
 }

 li {
   list-style-type: none;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 ul {
   padding: 0;
   /* Entfernt Standard Padding */
   margin: 0;
   /* Entfernt Standard Margin */
 }


 /* -------------------------------Universale Anweisungen------------------------------------------- */
 @media screen and (max-width: 786px) {
   .MainContainer {
     margin: 1rem;
     padding-left: 1rem;
     padding-right: 1rem;
   }
 }

 @media screen and (min-width: 787px) and (max-width: 1200px) {
   .MainContainer {
     margin: 2rem;
     padding-left: 3rem;
     padding-right: 3rem;
   }

 }

 @media screen and (min-width: 1201px) {
   .MainContainer {
     margin: 2rem;
     padding-left: 7rem;
     padding-right: 7rem;
   }

 }


 /* Background */
 .MainContainer {
   background-color: white;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   grid-gap: 2rem;
 }



 /* ------------------------------Anweisungen für Startseite-------------------------------------------- */
 /* Hero Image */
 picture img {
   width: 100%;
   opacity: 0.8;
   border-radius: 10px;
 }

 .HeroImageContainer {
   position: relative;
   text-align: center;
 }

 .HeroImageContainer h3 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(255, 255, 255, 0.766);
   padding: 2rem;
   border-radius: 10px;
 }

 @media screen and (max-width: 786px) {
   .HeroImageContainer h3 {
     padding: 1rem;
   }
 }



 /* ----------------------------------1. Section: Über mich Abschnit---------------------------------------- */
 .IntroductionCard img {
   width: 15rem;
   height: 15rem;
   border-radius: 50%;
 }

 .NewsLink {
   background-color: #e1cfe9;
   padding: 1rem;
   font-weight: bold;
   border-radius: 25px;
   display: block;
   /* Link zu einem Block-Element */
   width: 100%;
   margin-top: 1rem;
   overflow-wrap: break-word;
   /* Automatisches Umbrechen von zu langen Wörtern */
   hyphens: auto;
   /* Silbentrennung */
 }

 /* Desktop */
 @media screen and (min-width: 1201px) {
   .IntroductionCard {
     display: grid;
     grid-template-columns: 1fr 2fr 1fr;
     gap: 2rem;
   }
 }


 /* Tablet */
 @media screen and (min-width: 787px) and (max-width: 1200px) {
   .IntroductionCard {
     display: grid;
     grid-template-columns: 1fr 2fr;
     gap: 2rem;
   }
 }

 /* Mobile */
 @media screen and (max-width: 786px) {
   .IntroductionCard {
     display: grid;
     grid-template-columns: 1fr;
     gap: 2rem;
   }

 }

 /* -------------------------------2. Section: Reiseziele Abschnitt------------------------------------------- */
 /* Linkes Länderbild in Card */
 .VisitedCountryImage {
   width: 100%;
   border-radius: 10px;
 }

 /* Carousel Container */
 .Carousel {
   position: relative;
   margin: auto;
 }

 /* Carousel Item */
 .CarouselItem {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
   background-color: #8321ad;
   border-radius: 10px;
   color: white;
 }

 /* Text in Carousel */
 .DescriptionCountry {
   padding: 1rem;
 }

 /* Mobile */
 @media screen and (max-width: 786px) {
   .CarouselItem {
     display: grid;
     grid-template-columns: 1fr;
     gap: 1rem;
   }
 }

 /* Next & Previous buttons */
 .PreviousButton,
 .NextButton {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   user-select: none;
   background-color: #8321ad55;
 }

 /* Next Button Position*/
 .NextButton {
   position: absolute;
   right: 10px;
   top: 50%;
 }

 /* Hover Effekt für Next & Previous button*/
 .PreviousButton:hover,
 .NextButton:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }


 /* Punktanzeige */
 .Dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #8321ad;
   border-radius: 50%;
   display: inline-block;
 }
 
 /* Aktive Punktanzeige */
 .active,
 .Dot:hover {
   background-color: #8321ad55;
 }




 /* -------------------------------3. Section: Packliste und FAQ------------------------------------------- */
 /* Packlisten */
 .PackingSection li {
   background-color: #c5e0cc95;
   border-radius: 10px;
   padding: 0.25rem 1rem 0.25rem 1rem;
   margin-bottom: 1rem;
 }

 /* Desktop und Tablet*/
 @media screen and (min-width: 787px) {
   .ThirdSection {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 2rem;
   }
 }

 /* Mobile */
 @media screen and (max-width: 786px) {
   .ThirdSection {
     display: grid;
     grid-template-columns: 1fr;
     gap: 2rem;
   }

 }



 /* -------------------------------Navigationsleiste------------------------------------------- */
 /* Mobile */
 @media screen and (max-width: 786px) {
   .NavBar a:not(:first-child) {
     display: none;
   }

   .NavBar a.icon {
     float: right;
     display: block;
   }

   .NavBar {
    display: flex;
    justify-content: space-between; /* Verteilt Elemente */
    align-items: center; /* Hält alles auf einer Linie */
    padding: 10px;
}

   .NavBar.responsive {
    position: fixed; /* Fixiert das Menü */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Volle Höhe des Viewports */
    background-color: #c5e0cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Stellt sicher, dass es über allem liegt */
   }

   .CloseButton {
    display: none;
    position: fixed; /* Fixiert das Menü */
    top: 70px;
    right: 100px;
    cursor: pointer;
   }

   .NavBar.responsive .icon {
     display: none;
   }

   .NavBar.responsive a {
     float: none;
     display: block;
     text-align: left;
   }

   .HomePageName {
     font-size: 24px;
   }

   .NavItem {
     font-size: 18px;
   }
 }

  /* Tablet*/
  @media screen and (min-width: 787px) and (max-width: 1200px) {
    .HomePageName {
      font-size: 24px;
    }
 
    .NavItem {
      font-size: 14px;
    }
  }

/* Desktop*/
    @media screen and (min-width: 1201px) {
      .HomePageName {
        font-size: 32px;
      }
   
      .NavItem {
        font-size: 18px;
      }
    }

 /* Desktop und Tablet*/
 @media screen and (min-width: 787px) {
   header {
     display: flex;
     align-items: center;
     justify-content: space-between;
   }

   .NavBar {
     display: flex;
     align-items: center;
   }

   .NavItem:hover {
     background-color: #d3e9dd;
   }
 }

 .CloseButton {
  display: none;
 }

 .NavBar {
   width: 100%;
   overflow: hidden;
   padding-top: 1rem;
   padding-bottom: 1rem;
 }

 .NavBar a {
   float: left;
   display: block;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-weight: bold;
   border-radius: 5px;
   margin-right: 0.5rem;
 }

 .NavBar .icon {
   display: none;
 }

 /* Fügt dem aktuellen Navigationsitem ein Styling hinzu */
 .NavBar a.current {
   background-color: #1C5E39;
   color: white;
 }




/* -------------------------------Einstellungs Menu------------------------------------------- */
/* Einstellungs Button */
 .SettingsButton {
  font-weight: bold;
  color: #1C5E39;
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer; /* Fügt Hover Effekt hinzu */
}

/* Positionierung Settings Popup */
.SettingsContainer {
  position: relative;  /* Relative Positionierung Menü zu Settinngs Button*/
}

/* Settings Popup */
#SettingsMenu {
  display: none; /* Standardmäßig versteckt */
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;/* Standardmäßig versteck */
  top: 100%; /* Positionierung: direkt unter dem Button */
  left: 50%; /* Positionierung: Zentriert das Menü relativ zum Button */
  transform: translateX(-50%); /* Korrigiert die Zentrierung */
  z-index: 1000;
  width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Wenn das Menü sichtbar ist */
#SettingsMenu.visible {
  display: block;
}

/* Positionierung Settingsitems innerhalb Menu */
.SwitchPosition, .SettingsPosition {
  padding-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
}




 /* -------------------------------Switch------------------------------------------- */
/* Größe + Positionierung Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Standard HTML Checkbox wird auf unsichtbar gesetzt */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}



 /* -------------------------------Slider------------------------------------------- */
.Slider {
  position: absolute;
  cursor: pointer; /* Zeigt an, dass Switch klickbar ist */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3e9dd;
  -webkit-transition: .4s; /* Übergangseffekt */
  transition: .4s;
  border-radius: 34px;
}

/* Kreis im Slider */
.Slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

/* Bei Klick: Änderung Hintergrundfarbe */
input:checked + .Slider {
  background-color: #1C5E39;
}

/* Bewegung des Kreis im Slider */
input:checked + .Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}